---
export interface Props {
  group_name?: string;
  group_point?: string;
  group_time?: string;
  group_desc?: string;
  group_open?: string;
  group_contact?: string;
  group_phone?: string;
  group_map?: string;
}

const {
  group_name,
  group_point,
  group_time,
  group_desc,
  group_open,
  group_contact,
  group_phone,
  group_map,
} = Astro.props;

const text_h1 = "text-blue-600 antialiased font-extrabold text-4xl";
const text_span = "text-blue-400 antialiased font-medium text-md";

// Блок
const item_block =
  "relative flex flex-col p-4 rounded-lg bg-white shadow-sm w-full";

// Блок и его объекты
const info_span =
  "flex items-center self-start leading-6 p-2 lg:p-3 rounded-lg bg-slate-50 my-2 text-[#08041E] antialiased font-medium text-md";
const info_span_desc = "p-3 rounded-lg bg-slate-50 my-2 text-[#08041E]";
const info_span_link =
  "flex items-center text-blue-500 antialiased underline font-bold text-md";
const svg_mr = "w-[1rem] h-[1rem] mr-[3px]";
const two_spans = "flex items-center";
const aa_absolute = "absolute right-2 top-2 lg:right-3 lg:top-3";
---

<article class={item_block}>
  <svg
    class={aa_absolute}
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >

    <circle cx="20" cy="20" r="20" fill="#E4EAF7"></circle>
    <path
      d="M6.40015 28.386C6.40015 28.3776 7.68856 24.5076 9.2633 19.786L12.1265 11.2012H14.5702C16.5136 11.2012 17.014 11.2064 17.014 11.2266C17.014 11.2405 16.087 14.0312 14.9541 17.4281C13.8212 20.8249 12.8943 23.611 12.8943 23.6193C12.8943 23.6276 13.6361 23.6368 14.5427 23.6396L16.1911 23.6448L16.5529 24.7908L16.9147 25.9368L16.8259 26.2106L16.7371 26.4844L14.3325 26.4896L11.9278 26.4947L11.6145 27.4477L11.3012 28.4008L8.85066 28.401C7.50287 28.4011 6.40015 28.3943 6.40015 28.386Z"
      fill="#2463EB"></path>
    <path
      d="M17.0343 28.386C17.0343 28.3776 18.3227 24.5076 19.8974 19.786L22.7606 11.2012H25.2043C26.5484 11.2012 27.6481 11.2075 27.6481 11.2153C27.6481 11.223 26.7212 14.0152 25.5882 17.4201C24.4553 20.8249 23.5284 23.6161 23.5284 23.6227C23.5284 23.6293 24.2402 23.6347 25.1103 23.6347H26.6922L26.7624 23.8527C26.9421 24.411 27.5661 26.3892 27.5781 26.4388L27.5916 26.4946H25.0778H22.5641L22.2481 27.4428L21.9321 28.391L19.4832 28.3962C18.1363 28.399 17.0343 28.3945 17.0343 28.386Z"
      fill="#2463EB"></path>
    <path
      d="M15.47 18.575L16.6518 15.0199C17.3019 13.0646 17.8399 11.4716 17.8475 11.48C17.8551 11.4884 18.3 12.8119 18.8362 14.4211L19.8112 17.3469L18.6027 20.9703C17.8748 23.1528 17.3882 24.5825 17.379 24.5655C17.3707 24.55 16.9377 23.1957 16.4169 21.5561L15.47 18.575Z"
      fill="#2463EB"></path>
    <path
      d="M25.9886 18.6007C25.9828 18.5647 26.3818 17.3405 27.161 15.0042C27.8107 13.0562 28.345 11.4652 28.3482 11.4686C28.3548 11.4758 34.0001 28.3805 34.0001 28.3931C34.0001 28.3976 32.8969 28.4012 31.5484 28.4012H29.0967L27.5471 23.5282C26.6948 20.848 25.9935 18.6307 25.9886 18.6007Z"
      fill="#2463EB"></path>
  </svg>
  <span class={text_span}>группа &rarr;</span>
  <h3 class={text_h1}>
    {group_name}
  </h3>
  <div class={two_spans}>
    <span class={`${info_span}` + " mr-4"}
      >
      <svg
        class={svg_mr}
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      > 
        <path
          d="M9 8.625C8.50272 8.625 8.02581 8.42746 7.67417 8.07582C7.32254 7.72419 7.125 7.24728 7.125 6.75C7.125 6.25272 7.32254 5.77581 7.67417 5.42417C8.02581 5.07254 8.50272 4.875 9 4.875C9.49728 4.875 9.97419 5.07254 10.3258 5.42417C10.6775 5.77581 10.875 6.25272 10.875 6.75C10.875 6.99623 10.8265 7.24005 10.7323 7.46753C10.638 7.69502 10.4999 7.90171 10.3258 8.07582C10.1517 8.24993 9.94502 8.38805 9.71753 8.48227C9.49005 8.5765 9.24623 8.625 9 8.625ZM9 1.5C7.60761 1.5 6.27226 2.05312 5.28769 3.03769C4.30312 4.02226 3.75 5.35761 3.75 6.75C3.75 10.6875 9 16.5 9 16.5C9 16.5 14.25 10.6875 14.25 6.75C14.25 5.35761 13.6969 4.02226 12.7123 3.03769C11.7277 2.05312 10.3924 1.5 9 1.5Z"
          fill="#08041E"></path>
      </svg>{group_point}</span
    >
    <span class={info_span}>
      <svg
        class={svg_mr}
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.993 2C5.129 2 2 5.136 2 9C2 12.864 5.129 16 8.993 16C12.864 16 16 12.864 16 9C16 5.136 12.864 2 8.993 2ZM11.303 12.297L8.3 9.287V5.5H9.7V8.713L12.297 11.31L11.303 12.297Z"
          fill="#08041E"></path>
      </svg>
      <b>{group_time}</b></span>
  </div>
  <span class={info_span_desc}>
    <span class={text_span}>Описание:</span>
    {group_desc}</span
  >
  <span
    class="self-start leading-6 p-2 lg:p-3 rounded-lg bg-slate-50 my-2 text-[#08041E] antialiased font-medium text-md"
  >
    <!-- <svg
      class={svg_mr}
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2 16V14.4444H3.55556V3.55556C3.55556 3.12778 3.708 2.76144 4.01289 2.45656C4.31726 2.15219 4.68333 2 5.11111 2H12.8889C13.3167 2 13.683 2.15219 13.9879 2.45656C14.2923 2.76144 14.4444 3.12778 14.4444 3.55556V14.4444H16V16H2ZM11.3333 14.4444H12.8889V3.55556H9.38889V2.7C9.95926 2.8037 10.4259 3.06944 10.7889 3.49722C11.1519 3.925 11.3333 4.42407 11.3333 4.99444V14.4444ZM8.22222 9.77778C8.44259 9.77778 8.62744 9.70311 8.77678 9.55378C8.92559 9.40496 9 9.22037 9 9C9 8.77963 8.92559 8.59478 8.77678 8.44544C8.62744 8.29663 8.44259 8.22222 8.22222 8.22222C8.00185 8.22222 7.81726 8.29663 7.66844 8.44544C7.51911 8.59478 7.44444 8.77963 7.44444 9C7.44444 9.22037 7.51911 9.40496 7.66844 9.55378C7.81726 9.70311 8.00185 9.77778 8.22222 9.77778Z"
        fill="#08041E"></path>
    </svg> -->
    <span class={text_span}>Открытые собрания: </span>{group_open}</span
  >

  <div class={two_spans}>
    <span class={`${info_span}` + " mr-4"}
      >
      <svg
        class={svg_mr}
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9 10.5C9.4125 10.5 9.76575 10.353 10.0598 10.059C10.3533 9.7655 10.5 9.4125 10.5 9C10.5 8.5875 10.3533 8.23425 10.0598 7.94025C9.76575 7.64675 9.4125 7.5 9 7.5C8.5875 7.5 8.2345 7.64675 7.941 7.94025C7.647 8.23425 7.5 8.5875 7.5 9C7.5 9.4125 7.647 9.7655 7.941 10.059C8.2345 10.353 8.5875 10.5 9 10.5ZM6 13.5H12V13.0687C12 12.7687 11.9188 12.4937 11.7563 12.2437C11.5938 11.9937 11.3687 11.8062 11.0812 11.6812C10.7562 11.5437 10.422 11.4375 10.0785 11.3625C9.7345 11.2875 9.375 11.25 9 11.25C8.625 11.25 8.2655 11.2875 7.9215 11.3625C7.578 11.4375 7.24375 11.5437 6.91875 11.6812C6.63125 11.8062 6.40625 11.9937 6.24375 12.2437C6.08125 12.4937 6 12.7687 6 13.0687V13.5ZM13.5 16.5H4.5C4.0875 16.5 3.7345 16.3532 3.441 16.0597C3.147 15.7657 3 15.4125 3 15V3C3 2.5875 3.147 2.23425 3.441 1.94025C3.7345 1.64675 4.0875 1.5 4.5 1.5H9.88125C10.0813 1.5 10.272 1.5375 10.4535 1.6125C10.6345 1.6875 10.7937 1.79375 10.9312 1.93125L14.5687 5.56875C14.7062 5.70625 14.8125 5.8655 14.8875 6.0465C14.9625 6.228 15 6.41875 15 6.61875V15C15 15.4125 14.8533 15.7657 14.5598 16.0597C14.2658 16.3532 13.9125 16.5 13.5 16.5Z"
          fill="#08041E"></path>
      </svg>{group_contact}</span
    >
    <span class={info_span}>
      <a href={`tel: ${group_phone}`} class={info_span_link}>
        <svg
          class={svg_mr}
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.75 11.595L11.7975 11.1375L9.90755 13.0275C7.77844 11.9447 6.04788 10.2141 4.96505 8.085L6.86255 6.1875L6.40505 2.25H2.27255C1.83755 9.885 8.11505 16.1625 15.75 15.7275V11.595Z"
            fill="#08041E"></path>
        </svg>{group_phone}</a
      ></span
    >
  </div>
  <span class={info_span}
    ><a href={group_map} target="_blank" class={info_span_link}>
      <svg
        class={svg_mr}
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9 1.5C11.4825 1.5 13.5 3.495 13.5 5.9625C13.5 9.3075 9 14.25 9 14.25C9 14.25 4.5 9.3075 4.5 5.9625C4.5 3.495 6.5175 1.5 9 1.5ZM9 4.5C8.60218 4.5 8.22064 4.65804 7.93934 4.93934C7.65804 5.22064 7.5 5.60218 7.5 6C7.5 6.39782 7.65804 6.77936 7.93934 7.06066C8.22064 7.34196 8.60218 7.5 9 7.5C9.39782 7.5 9.77936 7.34196 10.0607 7.06066C10.342 6.77936 10.5 6.39782 10.5 6C10.5 5.60218 10.342 5.22064 10.0607 4.93934C9.77936 4.65804 9.39782 4.5 9 4.5ZM15 14.25C15 15.9075 12.315 17.25 9 17.25C5.685 17.25 3 15.9075 3 14.25C3 13.2825 3.915 12.42 5.3325 11.8725L5.8125 12.555C5.0025 12.8925 4.5 13.3575 4.5 13.875C4.5 14.91 6.5175 15.75 9 15.75C11.4825 15.75 13.5 14.91 13.5 13.875C13.5 13.3575 12.9975 12.8925 12.1875 12.555L12.6675 11.8725C14.085 12.42 15 13.2825 15 14.25Z"
          fill="#08041E"></path>
      </svg>Посмотреть на карте</a
    ></span
  >
</article>
